@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
body {
    background-color: #085f63;
    margin: 0;
    font-size: 35px;
    color: #494949;
    font-family: 'Roboto', sans-serif;
}
.main {
    background-color: #085f63;
    width: 800px;
    height: 100vh;
    margin: 10px auto;
}
.header, .currentTasks, .completedTasks{
    background-color: #49beb7;
    border-radius: 15px;
    margin-bottom: 10px;
}
.headerText {
    font-size: 3rem;
    padding: 15px 15px 0px 15px;
    text-align: center;
}
.headerNav {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.addItem {
    width: 85%;
    margin: auto 0;
}
.addText {
    width: calc(100% - 20px);
    font-size: 2rem;
    border: none;
    /* border-bottom: #085f63 solid 2px; */
    background-color: #085f63;
    border-radius: 5px;
    color:#facf5a;
    padding: 5px 10px;
}
.addButton {
    width: 7%;
    background-color: #49beb7;
    display: flex;
    align-items: center;
    justify-content: center;
}
.addButton img {
    width: 100%;
    border: 2px solid #facf5a;
    border-radius: 5px;
    background-color: #ffdf89;
}
.addButton img:hover {
     background-color: #facf5a;
}
.currentHeaderText, .completedHeaderText{
    font-size: 2rem;
    padding: 10px;
    text-align: center;
}

.taskBox {
    display: grid;
    grid-template-columns: 1fr minmax(0,10fr) 1fr 1fr;
    gap: 5px;
    padding: 5px 10px;
}

.task {
    display: block;
    justify-content: center;
    align-items: center;
    align-content: center;
    overflow-wrap: break-word;
}
.task img {
    display: block;
    width: 1.2em;
    margin: auto;
}
.checkBox {
    display: block;
    width: 1em;
    height: 1em;
}

.completedTaskBox {
    display: grid;
    grid-template-columns: 0fr minmax(0,12fr) 0fr 1fr;
    gap: 5px;
    padding: 5px 10px;
}
.delTaskBtn {
    border: 2px solid #ff5959;
    border-radius: 5px;
    background-color: #ff8080;
}
.editTaskBtn {
    border: 2px solid #facf5a;
    background-color: #ffdf89;
    border-radius: 5px;
}
.doneTaskBtn {
    border: 2px solid #5afab7;
    background-color: #97ffd4;
    border-radius: 5px;
}
.delTaskBtn:hover{
    background-color: #ff5959;
}
.editTaskBtn:hover{
    background-color: #facf5a;
}
.doneTaskBtn:hover{
    background-color: #5afab7;
}